# Dependencies
/node_modules
/backend_flask/venv

# Next.js build output
/frontend_nextjs/.next
/frontend_nextjs/out

# Local environment files
.env
.env*.local

# Python cache
__pycache__/
*.pyc

# IDE / OS files
.vscode
.DS_Store